@charset "UTF-8";

*{
    margin:4px;
    padding:3px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: black;
    color: yellow;
}

h1{
    text-align: center;
    margin: 10px;
}

menu{
    background-color: darkgray;
}

menu ul{
    list-style-type: none;
}

menu li{
    display: inline-block;
    padding-left: 75px;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}