@charset "UTF-8";

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

h1{
    color: greenyellow;
}

a{
    color: red;
}